@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body{
    font-family: "Open Sans", Arial, sans-serif !important;
    font-weight: 300;
}
.google_logo{
    height: 50px;
    text-align: center;
    margin-bottom: 15px;
}

.watermark{
    bottom: 5px;
    right: 5px;
    opacity: 0.5;
    z-index: 99;
    color: white;
}
.box{
    -webkit-box-shadow: inset -1px -1px 24px -5px rgba(119,119,119,0.67);
    -moz-box-shadow: inset -1px -1px 24px -5px rgba(119,119,119,0.67);
    box-shadow: inset -1px -1px 24px -5px rgba(119,119,119,0.67);
    text-align:center;
    padding:40px 35px;
    width:500px;
}
.box h3{
    border-bottom:2px solid #777;
    padding-bottom:10px;
    font-family: Lato, sans-serif;
}
.process{
    margin:10px 15px;
}
#line1{
     height:200px;
     width:400px;
     border:48px solid #CC7B1F;
     border-left: 0px;
     border-radius: 0px 45px 45px 0px;
     position: relative;
     right: -23px;
     margin-left:10px;
 }
#line2{
    height:200px;
    width:400px;
    border:48px solid #CC7B1F;
    border-right: 0px;
    border-radius: 45px 0px 0px 45px;
    position: relative;
    top: -50px;
    left: -11px;
    margin-left:10px;
}
.pattern{
    position: relative;
    bottom: 0;
    top: -417px;
    z-index: 1000;
    margin-bottom: 58px;
    float:left;
}
.pattern img{
    margin-left:15px;
    margin-right:15px;
}
.pattern span{
    font-size:24px;
    color:#fff;
}
.layer{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.logo_white {
    color: #ffffff;
    margin-top:20px;margin-bottom:30px;
}

.logo_grey {
    color: #505663;
}

.logo_red {
    color: #EF6F6C;
}

.logo_blue {
    color: #408BCA;
}

.logo_yellow {
    color: #F79A14;
}

.logo_green {
    color: #03BC8C;
}

#logo {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
}

#logo h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

body > .header .navbar {
    height: 60px;
}

body > .header .navbar .sidebar-toggle {
    margin-top: 11px;
    margin-bottom: 11px;
}

.bg_grey {
    background: #797979;
    color: #ffffff;
    margin: 10px;
}

.bg_red {
    background: #EF6F6C;
    color: #ffffff;
    margin: 10px;
}

.bg_blue {
    background: #418bca;
    color: #ffffff;
    margin: 10px;
}

.bg_yellow {
    background: #F89A14;
    color: #ffffff;
    margin: 10px;
}

.bg_green {
    background: #00bc8c;
    color: #ffffff;
    margin: 10px;
}
.bgcolor_yellow{
    background : #F79A14;
}
.bgcolor_blue{
    background : #408BCA;
}
.bgcolor_green{
    background : #03BC8C;
}
.bgcolor_red{
    background : #EF6F6C;
}

.squarebox label a {
    color: #ffffff;
}

/* Fixed against a select2 span*/
.panel-heading span {
    margin-top: unset;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.navbar .user-menu {
    padding: 6px 0;
}

.navbar-nav > .user-menu > .dropdown-menu {
    margin-top: 0;
    min-width: 220px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    padding: 0;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header img{
    margin: 0% 30%;
}


.password_info {
    color: #f89a14;

}
label.error
{
    font-weight: 300;
    margin: 5px;
}
.text_color
{
    color: white;
}
.table th
{
    font-family: "Open Sans", Arial, sans-serif !important;
    font-weight: 300;
}
.color-red {
    color: #EF6F6C;
}

.color-green {
    color: #03BC8C;
}

.color-yellow {
    color: #F79A14;
}

.color-blue {
    color: #408BCA;
}



.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.scrollbar
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{opacity: 1;}
    75%{opacity: 1;}
    76%{ opacity: 0;}
    100%{opacity: 0;}
}
